<div>
    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>

    <div class="row" style="margin-top: 20px;">
        <button class="btn" ng-click="reload()">Reload</button>
    </div>
    <div class="row">
        <div class="span11">
            <h2>{{event.name | uppercase}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="span3">
            <div><strong>Date: </strong>{{event.date | date:'mediumDate'}}</div>
            <div><strong>Time: </strong>{{event.time}}</div>
            <div><strong>Price: </strong>{{34 | currency}}</div>
        </div>
        <div class="span4">
            <address>
                <strong>Address:</strong> <br>
                {{event.location.address}} <br>
                {{event.location.city}}, {{event.location.province}}
            </address>
        </div>
    </div>
</div>